.container-container {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
@media(max-width: 767px) {
  .container-container {
    grid-template-columns: 1fr;
  }
}
