.header-container {
  width: var(--dl-size-size-maxwidth);
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
